#gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}

@media screen and (min-width: 401px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 801px) {
    #gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}